/* Style CSS for Sign Up */
.main {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    color: rgb(194, 51, 51);
}

img {
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -10%);
}

button {
    font-size: 20px;
}

button:hover {
    background-color: antiquewhite;
}

.questions {
    font-family: cursive;
}

.title {
    color: rgb(194, 51, 51);
}

body {
    background-image: url("../Background/Green_Background.webp");
    background-size: 1920px;
}
