/* Styles CSS of list page */
body {
    background-image: url(../background/background.jpg);
    background-size: cover;
}

h1 {
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 30px;
    font-family: monospace;
    color: rgb(207, 207, 195);
}

ul,ol {
    font-size: 20px;
    font-family: monospace;
    text-align: left;
    color: rgb(37, 37, 36);
}

img {
    height: 300px;
    position: relative;
    top: -500px;
    right: -750px;
}