/* Styles CSS of homepage */
.info {
    font-size: 20px;
    font-family: monospace;
    position: relative;
    top: 20px;
    left: 650px;
    color: rgb(207, 207, 195);
}

h1 {
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    color: rgb(207, 207, 195);
}

details {
    font-size: 30px;
    font-family: monospace;
    position: relative;
    left: -400px;
    top: 120px;
}

details p {
    font-size: 20px;
}

img{
    position: relative;
    top: -400px;
    float: left;
}

.github, .list{
    font-size: 20px;
    font-family: monospace;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.github a, .list a {
    text-decoration: none;   
}

.buttons {
    position: relative;
    left: 825px;
}

button.github:hover,button.list:hover {
    background-color:  rgb(101, 60, 177);
}

body {
    background-image: url(../background/background.jpg);
    background-size: cover;
}